.sidebar {
  color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px auto;
  height: 86vh;
}

.main {
  width: 70%;
  margin: auto;
}

.booking {
  width: 70%;
}

.image {
  width: 70%;
  object-fit: cover;
  background-position: center;
  height: 500px;
  border-radius: 8px;
}
